@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
  --dark-gray: #1a2a32;
  --gray: #2e4756;
  --turquoise: #0a9396;
  --yellow: #ffb703;
  --light-gray: #d3d3d3;
}

/* CSS Reset  */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

html,
body {
  height: 100%;
  background-color: var(--dark-gray);
}

body {
  padding: 90px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Grid  */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: 50px repeat(3, 80px) 60px;
  gap: 5px;
}

.turn {
  background-color: var(--gray);
  grid-column-start: 1;
  grid-column-end: 3;
}

.square {
  background-color: var(--gray);
}

.score {
  background-color: var(--gray);
}

.actions {
  background-color: var(--gray);
}

/* Footer  */
footer {
  color: white;
  margin-top: 50px;
}

footer p {
  margin-top: 10px;
  text-align: center;
}

footer a {
  color: var(--turquoise);
}
